.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination-number, .pagination-text, .pagination-arrow {
  padding: 1px 7px 4px 8px;
  font-size: 12px;
  margin: 0 2px;
  color: #777;
  cursor: pointer;
  user-select: none;
}

.pagination-number:hover, .pagination-text:hover, .pagination-arrow:hover {
  color: #0056b3;
}

.pagination-number.active {
  color: #0056b3;
}

.pagination-text.disabled, .pagination-arrow.disabled {
  background-color: #ccc;
  cursor: not-allowed;
  display: none;
}

.pagination-input-form {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.pagination-input {
  width: 50px;
  padding: 2px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination-btn-submit {
  padding: 2px;
  color: #777;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



img{
  width: 16px;
  height: 16px;
  border-width: 1px;
  border-color: #dddddd;
  padding: 2px;
  border-radius: 4px;
}